:root {
    --yellow: #FCB72B;
    --dnavy: #495567;
    --dgrey: #939CAA;
    --lgrey: #E5ECF4;
    --snow: #F2F5F9;
    --lyellow: #FFF4DF;
    --white: #ffffff;
    --something: #2F3B59;
    --footer: #333A44;
}